#m_state,
#m_live_chat,
#m_boards,
#m_audience {
    position: relative;
}
body{
    background-color: red!important;
}

#m_state span,
#m_live_chat span,
#m_boards span,
#m_audience span {
    opacity: 0;
}

#m_state::after {
    content: "לוח בקרה";
    position: absolute;
    right: 60px;
    top: 12px;
}

#m_live_chat::after {
    content: "תיבת הודעות";
    position: absolute;
    right: 60px;
    top: 12px;
}

#m_boards::after {
    content: "משפכי מכירה";
    position: absolute;
    right: 60px;
    top: 12px;
}

#m_audience::after {
    content: "אנשי קשר";
    position: absolute;
    right: 60px;
    top: 12px;
}
body { background: red !important; }

