/* Analytics */
#m_state span {
    visibility: hidden;
    position: relative;
}
#m_state::after {
    content: "לוח בקרה";
    position: absolute;
    right: 60px;
    top: 12px;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

/* Inbox */
#m_live_chat span {
    visibility: hidden;
    position: relative;
}
#m_live_chat::after {
    content: "תיבת הודעות";
    position: absolute;
    right: 60px;
    top: 12px;
}

/* Pipelines */
#m_boards span {
    visibility: hidden;
}
#m_boards::after {
    content: "משפכי מכירה";
    position: absolute;
    right: 60px;
    top: 12px;
}

/* Contacts */
#m_audience span {
    visibility: hidden;
}
#m_audience::after {
    content: "אנשי קשר";
    position: absolute;
    right: 60px;
    top: 12px;
}
